<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/Head') %>
  </head>
  <body>
    <%- include('includes/Header') %> <%- include('includes/Aside') %>
    <main>
      <h1>Success!</h1>
      <p>Your restaurant was successfully added to our list!</p>
      <div class="view-actions">
        <a href="/restaurants">View</a>
      </div>
    </main>
  </body>
</html>
